<div class="footer-present">
    <form class="container">
        <div ng-if="model.error" class="alert alert-danger bmd-margin-top-10">
            {{model.error}}
        </div>

        <h2>Login</h2>

        <form name="loginForm"
              novalidate>
            <div class="form-group">
                <input type="text"
                       name="username"
                       placeholder="username"
                       class="form-control"
                       autocomplete="off"
                       spellcheck="false"
                       autocapitalize="off"
                       ng-model="username"
                       required>
                <span class="validationSpan"
                      ng-show="loginForm.username.$touched && !loginForm.username.$modelValue">
                    Username is required.
                </span>
            </div>

            <div class="form-group">
                <input type="password"
                       name="password"
                       placeholder="password"
                       class="form-control"
                       autocomplete="off"
                       spellcheck="false"
                       autocapitalize="off"
                       ng-model="password"
                       required>
                <span class="validationSpan"
                      ng-show="loginForm.password.$touched && !loginForm.password.$modelValue">
                    Password is required.
                </span>
            </div>
        </form>

        <!-- Will have to send user id -->
        <a href=""
           ng-click="model.login(username, password)"
           class="btn btn-block btn-primary">Login</a>

        <a href="/project/auth/facebook"
           class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>&nbsp Facebook
        </a>

        <a href="/project/auth/google"
           class="btn btn-primary btn-block">
            <span class="fa fa-google-plus"></span>&nbsp Google
        </a>

        <a href="#/register"
           class="btn btn-block bmd-tertiary">Register</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/home" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-home home-glyphicon bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="#/search">
                    Search
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user header-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>