<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/post" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="">
                    Edit Post
                </a>
                <p class="navbar-text pull-right">
                    <a href=""
                       ng-click="model.updatePost()"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok header-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-if="model.error" class="alert alert-danger bmd-margin-top-10">
            {{model.error}}
        </div>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       placeholder="Test Website"
                       ng-model="model.post.name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="5"
                          id="description"
                          class="form-control"
                          placeholder="Lorem Ipsum"
                          ng-model="model.post.description"></textarea>
            </div>
            <p>Type: {{model.post.postType}}</p>
            <div ng-switch="model.post.postType">
                <div ng-switch-when="IMAGE">
                    <!-- <div ng­include="'/assignment/views/widget/widget­image.view.client.html'"></div> -->
                    <form>
                        <div class="form-group">
                            <label for="urlIMAGE">URL</label>
                            <input type="text"
                                   class="form-control"
                                   id="urlIMAGE"
                                   ng-model="model.post.url">
                        </div>
                    </form>
                    <form action="/public/api/upload" method="post" enctype="multipart/form-data">
                        <input name="myFile" type="file" class="form-control"/>
                        <input name="widgetId" value="{{model.postId}}" style="display: none"/>
                        <input name="userId" value="{{model.userId}}" style="display: none"/>
                        <button type="submit" class="btn btn-block btn-primary bmd-margin-top-10">Upload Image</button>
                    </form>

                    <a ng-click="model.flickrNavigation()"
                       href=""
                       class="btn btn-block btn-primary bmd-margin-top-10">Search</a>
                </div>
                <div ng-switch-when="VIDEO">
                    <!-- <div ng­include="'/assignment/views/widget/widget­youtube.view.client.html'"></div> -->
                    <form>
                        <div class="form-group">
                            <label for="urlYOUTUBE">URL</label>
                            <input type="text"
                                   class="form-control"
                                   id="urlYOUTUBE"
                                   ng-model="model.post.url">
                        </div>
                    </form>
                </div>
                <div ng-switch-when="TEXT">
                </div>
            </div>
        </form>

        <a ng-click="model.deletePost()"
           href=""
           class="btn btn-block btn-danger bmd-margin-top-10">Delete</a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text">
                    <a href="#/home">
                        <span class="glyphicon glyphicon-home home-glyphicon bmd-accent"></span>
                    </a>
                    <a href="#/user/{{model.user._id}}"
                       class="pull-right">
                        <span class="glyphicon glyphicon-user header-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
