<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"
                   href="">
                    New Website
                </a>
                <p class="navbar-text pull-right">
                    <a href=""
                       ng-click="model.createWebsite(name, description)"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-if="model.error" class="alert alert-danger bmd-margin-top-10">
            {{model.error}}
        </div>
        <form name="newWebsiteForm"
              novalidate>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       placeholder="Name"
                       ng-model="name"
                       required>
                <span class="validationSpan"
                      ng-show="newWebsiteForm.name.$touched && !newWebsiteForm.name.$modelValue">
                    Name is required.
                </span>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="5"
                          id="description"
                          class="form-control"
                          placeholder="Description"
                          ng-model="description"></textarea>
            </div>
        </form>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
