.header-present {
    padding-top: 75px;
}

.footer-present {
    padding-bottom: 75px;
}

.header-glyphicon {
    padding-right: 10px;
}

.bmd-widget {
    margin-top: 10px;
    margin-bottom: 5px;
}

.bmd-widget img {
    padding-top: 2px;
}

.bmd-widget iframe {
    padding-top: 2px;
}

.bmd-widget-edit {
    position: absolute;
    right: 0px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    margin-right: 5px;
}

a:hover {
    text-decoration: none;
}

.bmd-margin-top-10 {
    margin-top: 10px;
}

.bmd-photo-array {
    padding: 4px;
}

.navbar-header {
    width: 100%
}

.navbar {
    background-color: #EAF3EF;
}

.youtube­widget  {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube­widget iframe  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}