.header-present {
    padding-top: 75px;
}

.footer-present {
    padding-bottom: 75px;
}

.header-glyphicon {
    padding-right: 10px;
}

.bmd-widget {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.bmd-widget-text {
    width: 85%;
    height: auto;
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
}

.bmd-widget-media {
    width: 85%;
    height: auto;
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1;
    position: relative;
}

.bmd-widget-edit {
    display: block;
    float: right!important;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    z-index: 2;
    background-color: white;
    border-bottom-left-radius: 5px;
}