.header-present {
    padding-top: 75px;
}

.footer-present {
    padding-bottom: 75px;
}

.header-glyphicon {
    padding-right: 10px;
}

a:hover {
    text-decoration: none;
}

.navbar-header {
    width: 100%
}

.navbar-footer {
    width: 100%
}

.navbar {
    color: #f7f7f7;;
    background-color: #388E3C;
}

.bmd-backdrop {
    color: black;
    background-color: #4CAF50;
}

.bmd-dominant-color {
    background-color: #4CAF50;
}

.bmd-status-color {
    background-color: #388E3C;
}

.bmd-secondary-color {
    background-color: #81C784;
}

.bmd-accent-color {
    color: #18FFFF;
}

.bmd-tertiary-color {
    background-color: #FFA726;
}

