.header-present {
    padding-top: 75px;
}

.footer-present {
    padding-bottom: 75px;
}

.header-glyphicon {
    padding-right: 10px;
}

a:hover {
    text-decoration: none;
}

.navbar-header {
    width: 100%
}

.navbar-footer {
    width: 100%
}

.navbar {
    background-color: #EAF3EF;
}

.bmd-backdrop {
    background-color: #102622;
}

.navbar-fixed-bottom {

}