<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/user/5/website" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"
                   href="">
                    Pages
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user/5/website/5/page/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#/user/5/website/5/page/5/widget">Blog Post</a>
                <a href="#/user/5/website/5/page/5"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
            <li class="list-group-item">
                <a href="#/user/5/website/5/page/5/widget">Blogs</a>
                <a href="#/user/5/website/5/page/5"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
            <li class="list-group-item">
                <a href="#/user/5/website/5/page/5/widget">Home</a>
                <a href="#/user/5/website/5/page/5"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
            <li class="list-group-item">
                <a href="#/user/5/website/5/page/5/widget">About</a>
                <a href="#/user/5/website/5/page/5"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
            <li class="list-group-item">
                <a href="#/user/5/website/5/page/5/widget">Contact Us</a>
                <a href="#/user/5/website/5/page/5"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-right">
                    <a href="#/user/5">
                        <span class="glyphicon glyphicon-user header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
