<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <title>Page List</title>
    <!-- Link necessary pages -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body class="header-present footer-present">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="../website/website-list.html" class="navbar-link navbar-brand">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand"
               href="">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus header-glyphicon"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../widget/widget-list.html">Blog Post</a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.html">Blogs</a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.html">Home</a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.html">About</a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.html">Contact Us</a>
            <a href="page-edit.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user header-glyphicon"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
</body>
</html>