<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/search/event" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="">
                    View Event
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-if="model.error" class="alert alert-danger bmd-margin-top-10">
            {{model.error}}
        </div>
        <div ng-if="model.success" class="alert alert-success bmd-margin-top-10">
            {{model.success}}
        </div>
        <form>
            <div class="form-group">
                <label>Name</label>
                <p>{{model.event.name}}</p>
            </div>
            <div class="form-group">
                <label>Description</label>
                <p>{{model.event.description}}</p>
            </div>
            <div class="form-group">
                <label>When</label>
                <p>{{model.event.when}}</p>
            </div>
            <div class="form-group">
                <label>Where</label>
                <p>{{model.event.where}}</p>
            </div>
            <div class="form-group">
                <label>Participants:</label>
                <div ng-repeat="userId in model.event.participants">
                    <a href="#/user/{{userId}}/public">Athlete: {{userId}}</a>
                </div>
            </div>
            <a href=""
               ng-click="model.joinEvent()"
               class="btn btn-block btn-primary">
                Join
            </a>
        </form>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/home" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-home home-glyphicon bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="#/search">
                    Search
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user header-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
