<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#/user/{{model.user._id}}">Profile</a>
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateUser()"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-show="model.success"
             class="alert alert-success">{{model.success}}
        </div>
        <div ng-show="model.error"
             class="alert alert-error">{{model.error}}
        </div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username"
                       type="text"
                       class="form-control"
                       id="username"
                       placeholder="dunbarb">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input ng-model="model.user.email"
                       type="email"
                       class="form-control"
                       id="email"
                       placeholder="dunbar.b@husky.neu.edu">
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input ng-model="model.user.firstName"
                       type="text"
                       class="form-control"
                       id="firstName"
                       placeholder="Ben">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input ng-model="model.user.lastName"
                       type="text"
                       class="form-control"
                       id="lastName"
                       placeholder="Dunbar">
            </div>
        </form>

        <a href="#/user/{{model.user._id}}/website"
           class="btn btn-block btn-primary">Websites</a>
        <a href="#/login"
           class="btn btn-block btn-danger">Logout</a>
        <a ng-click="model.deleteUser()"
           href=""
           class="btn btn-block btn-danger">Logout</a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}">
                        <span class="glyphicon glyphicon-user header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>