<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a href="profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok header-glyphicon"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   placeholder="dunbarb">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   placeholder="dunbar.b@husky.neu.edu">
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="Ben">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="lastName"
                   placeholder="Dunbar">
        </div>
    </form>

    <a href="../website/website-list.view.client.html"
       class="btn btn-block btn-primary">
        Websites
    </a>
    <a href="#/login"
       class="btn btn-block btn-danger">
        Logout
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="profile.view.client.html">
                    <span class="glyphicon glyphicon-user header-glyphicon"></span>
                </a>
            </p>
        </div>
    </div>
</nav>