<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
                   class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"
                   href="">
                    Widgets
                </a>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-plus header-glyphicon pull-right"></span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-if="model.message"
             class="alert alert-info bmd-margin-top-10">{{model.message}}</div>

        <wam-sortable title="'Widget Table'"
                        sort="model.sortList(start, stop)"
                        data="model">
        </wam-sortable>

    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
