<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="widget-list.view.client.html"
                   class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"
                   href="">
                    Choose Widget
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <a href="widget-heading.view.client.html"
            class="row">Header</a>
        <a href="widget-heading.view.client.html"
           class="row">Label</a>
        <a href="widget-heading.view.client.html"
           class="row">HTML</a>
        <a href="widget-heading.view.client.html"
           class="row">Text Input</a>
        <a href="widget-heading.view.client.html"
           class="row">Link</a>
        <a href="widget-heading.view.client.html"
           class="row">Button</a>
        <a href="widget-image.view.client.html"
           class="row">Image</a>
        <a href="widget-youtube.view.client.html"
           class="row">YouTube</a>
        <a href="widget-heading.view.client.html"
           class="row">Data Table</a>
        <a href="widget-heading.view.client.html"
           class="row">Repeater</a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-right">
                    <a href="#/user/5">
                        <span class="glyphicon glyphicon-user header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
