<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               value="Info Post">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input type="text"
               class="form-control"
               id="text"
               value="I have a gray bike.">
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input type="text"
               class="form-control"
               id="size"
               value="4">
    </div>
</form>
