<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/user/5/website/5/page"
                   class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"
                   href="">
                    Widgets
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user/5/website/5/page/5/widget/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="bmd-widget">
            <h1 class="col-xs-10">GIZMODO</h1>
            <a href="#/user/5/website/5/page/5/widget/5"
               class="bmd-widget-edit">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>

        <div class="bmd-widget">
            <h4 class="col-xs-10">US Senate Reaches Compromise on Emergency Zika Funding</h4>
            <a href="#/user/5/website/5/page/5/widget/5"
               class="bmd-widget-edit">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>

        <div class="bmd-widget">
            <img class="col-xs-10"
                 src="images/mountain.jpeg">
            <a href="#/user/5/website/5/page/5/widget/5"
               class="bmd-widget-edit">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>

        <div class="bmd-widget">
            <iframe width="100%"
                    height="100%"
                    class="col-xs-10"
                    src="https://www.youtube.com/embed/IcrBqCFLHIY?list=PLkahZjV5wKe_dajngssVLffaCh2gbq55_"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
            <a href="#/user/5/website/5/page/5/widget/5"
               class="bmd-widget-edit">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>

        <div class="bmd-widget">
            <p class="col-xs-10">Above is a cool video that other computer engineering students should find interesting. Veritasium is a cool science youtube channel to check out.</p>
            <a href="#/user/5/website/5/page/5/widget/5"
               class="bmd-widget-edit">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-right">
                    <a href="#/user/5">
                        <span class="glyphicon glyphicon-user header-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
