<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               value="Transistors">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input type="text"
               class="form-control"
               id="text"
               value="This is a video about transistors.">
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input type="text"
               class="form-control"
               id="url"
               value="https://www.youtube.com/embed/IcrBqCFLHIY?list=PLkahZjV5wKe_dajngssVLffaCh2gbq55_">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input type="text"
               class="form-control"
               id="width"
               value="100%">
    </div>
</form>

