<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/search/competition" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="">
                    View Competition
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-if="model.error" class="alert alert-danger bmd-margin-top-10">
            {{model.error}}
        </div>
        <div ng-if="model.success" class="alert alert-success bmd-margin-top-10">
            {{model.success}}
        </div>
        <form>
            <div class="form-group">
                <label>Name</label>
                <p>{{model.competition.name}}</p>
            </div>
            <div class="form-group">
                <label>Description</label>
                <p>{{model.competition.description}}</p>
            </div>
            <div class="form-group">
                <label>Judging Starts</label>
                <p>{{model.competition.judgingStarts}}</p>
            </div>
            <div class="form-group">
                <label>Judges:</label>
                <div ng-repeat="judge in model.competition.judges">
                    <a href="#/user/{{judge}}/public">Judge: {{judge}}</a>
                </div>
            </div>
            <div ng-show="model.competition.complete"
                 class="form-group">
                <label>Winner</label>
                <p>{{model.competition.winner}}</p>
            </div>
            <div  ng-show="!model.competition.complete && model.currentUser.userType === 'JUDGE'"
                  class="form-group">
                <input type="text"
                       placeholder="abc123efg456-bd"
                       class="form-control"
                       ng-model="postId">
                <button class="btn btn-sm bmd-margin-top-5 bmd-tertiary" ng-click="model.vote(postId)">Vote</button>
            </div>
        </form>

        <div ng-show="!model.competition.complete"
             class="form-group">
            <label>Add Post Entry by Post Id</label>
            <input type="text"
                   placeholder="abc123efg456-bd"
                   class="form-control"
                   ng-model="postToAdd">
            <button class="btn btn-sm bmd-margin-top-5 bmd-tertiary" ng-click="model.addPost(postToAdd)">Add Post</button>
        </div>

        <div class="form-group">
            <label>Entries:</label>
            <div ng-repeat="post in model.competition.posts">
                <a href="#/post/{{post}}/public">Post: {{post}}</a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/home" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-home home-glyphicon bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="#/search">
                    Search
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user header-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
