<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="">
                    Competitions
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-if="model.error"
             class="alert alert-info bmd-margin-top-10">{{model.error}}</div>

        <p>Info:</p>
        <p>
            To vote for a competition, go to the page for the competition and then vote based on
            post Id.
        </p>

        <ul class="list-group">
            <li ng-repeat="competition in model.competitions"
                class="list-group-item bmd-secondary">
                <a href="#/competition/{{competition._id}}/public">{{competition.name}}</a>
                <a href="#/competition/{{competition._id}}/public">
                    <span class="glyphicon glyphicon-play pull-right"></span>
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <p>Summary: {{competition.description}}</p>
                <p ng-show="competition.complete">COMPLETE</p>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/home" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-home home-glyphicon bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="#/search">
                    Search
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user header-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
