<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/competition" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-chevron-left bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="">
                    Edit Competition
                </a>
                <p class="navbar-text pull-right">
                    <a href=""
                       ng-click="model.updateCompetition()"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok header-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-if="model.error" class="alert alert-danger bmd-margin-top-10">
            {{model.error}}
        </div>
        <div ng-if="model.success" class="alert alert-success bmd-margin-top-10">
            {{model.success}}
        </div>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       placeholder="Test Website"
                       ng-model="model.competition.name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="5"
                          id="description"
                          class="form-control"
                          placeholder="Lorem Ipsum"
                          ng-model="model.competition.description"></textarea>
            </div>
            <div class="form-group">
                <label for="judgingStarts">Judging Starts</label>
                <input type="text"
                       id="judgingStarts"
                       class="form-control"
                       placeholder="Friday, May 7th 2016 at 7:00pm"
                       ng-model="model.competition.judgingStarts">
            </div>
            <div class="form-group">
                <input type="text"
                       placeholder="abc123efg456-bd"
                       class="form-control"
                       ng-model="judgeId">
                <button class="btn btn-sm bmd-margin-top-5 bmd-tertiary" ng-click="model.addJudge(judgeId)">Add Judge</button>
            </div>
            <div ng-repeat="judge in model.competition.judges" class="form-group">
                <p>Judge: {{judge}}</p>
                <button class="btn btn-sm bmd-margin-top-5 bmd-tertiary" ng-click="model.removeJudge(judge)">Remove Judge</button>
            </div>
        </form>

        <a ng-click="model.computerWinner()"
           href=""
           class="btn btn-block btn-primary">Compute Winner!</a>

        <a ng-click="model.deleteCompetition()"
           href=""
           class="btn btn-block btn-danger">Delete</a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/home" class="navbar-link navbar-brand">
                    <span class="glyphicon glyphicon-home home-glyphicon bmd-accent"></span>
                </a>
                <a class="navbar-brand bmd-accent"
                   href="#/search">
                    Search
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-user header-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
