<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p>Login, Register, Search</p>
            </div>
        </div>
    </nav>
    <div class="container">
        <p>Welcome to Freerunning!</p>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <p>Created by: Ben Dunbar</p>
            </div>
        </div>
    </nav>
</div>