<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/login"
                   class="navbar-brand bmd-accent">Login</a>
                <a href="#/register"
                   class="navbar-brand bmd-accent pull-right">Register</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2>Freedom to Flip</h2>

        <div class="row">
            <div class="col-md-6">
                <img src="images/FreeRunning.jpg" class="image">
            </div>
            <div class="col-md-6">
                <h2>
                    Welcome to Freedom to Flip!
                </h2>
                <p class="bmd-text-column">
                    This project will be an art sharing and critic platform for human movement.
                    It will allow for the upload of images, videos and text posts so that members can share their
                    accomplishments. The app will also allow for fun competitions, were users submit a photo or video
                    to a competition that another user has created. The competition can then be voted on for a winning
                    video and part of a users profile will be how many fun competitions they have won. Voting will be
                    encouraged via limits on the number of videos you can submit based on number of competitions you
                    have voted in.
                </p>

                <h2>Browse Freedom to Flip</h2>
                <a href=""
                   class="btn btn-block bmd-tertiary">About</a>

                <a href=""
                   class="btn btn-block bmd-tertiary">Athletes</a>

                <a href=""
                   class="btn btn-block bmd-tertiary">Posts</a>

                <a href=""
                   class="btn btn-block bmd-tertiary">Events</a>

                <a href="https://github.com/bdunbar22/Dunbar-Benjamin-web-dev" target="_blank"
                   class="btn btn-block bmd-tertiary">Ben Dunbar Github</a>

                <a href="#"
                   class="btn btn-block bmd-tertiary">Project Video</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href=""
                   class="navbar-brand navbar-brand-center bmd-accent">Search</a>
            </div>
        </div>
    </nav>
</div>