<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/login"
                   class="navbar-brand bmd-accent">Login</a>
                <a href="#/register"
                   class="navbar-brand bmd-accent pull-right">Register</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="">
            <p>Welcome to Freerunning!

                This project will be an art sharing and critic platform for human movement.
                It will allow for the upload of images, videos and text posts so that members can share their
                accomplishments. The app will also allow for fun competitions, were users submit a photo or video
                to a competition that another user has created. The competition can then be voted on for a winning
                video and part of a users profile will be how many fun competitions they have won. Voting will be
                encouraged via limits on the number of videos you can submit based on number of competitions you
                have voted in.
            </p>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href=""
                   class="navbar-brand navbar-brand-center bmd-accent">Search</a>
            </div>
        </div>
    </nav>
</div>