<div class="header-present footer-present">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/login"
                   class="navbar-brand bmd-accent">Login</a>
                <a href="#/register"
                   class="navbar-brand bmd-accent pull-right">Register</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2>Search</h2>
        <a href="#/search/user"
           class="btn btn-block bmd-tertiary">Search Athletes</a>

        <a href="#/search/post"
           class="btn btn-block bmd-tertiary">Search Posts</a>

        <a href="#/search/event"
           class="btn btn-block bmd-tertiary">Search Events</a>

        <a href="#/search/competition"
           class="btn btn-block bmd-tertiary">Search Competitions</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="#/home">
                        <span class="glyphicon glyphicon-home home-glyphicon bmd-accent"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>